
i {
    font-size: 2rem;
}

.img-target {
    display: none;
}

.active {
    display: block;
}

img{
    object-fit: cover;
}

#img-container {
    
    height: 540px;
    width: 700px;
    margin: 0 auto;
}

#thumbnail {
    height: 300px;
    width: 700px;
    margin: 0 auto;
}

#thumbnail img {
    height: 100px;
    width: 18%;
    border-radius: 10px;
}

.scaleup {
  transform: scale(120%);
}



